:host { display: block; }

.menu {
  width: 100%;
  background-color: #4d5791;
  height: 44px;
  padding: 0 40px;
}

.menu ul,
.menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 0 20px;
  line-height: 44px;
  font-size: 1.4em;
  text-decoration: none;
  color: #fff;
  margin: 0;
}

.menu ul li a:hover,
.menu ul li a.active {
  background-color: #fff;
  color: #4d5791;
}
